body {
    --dark-blue:rgb(2, 48, 71);
    --light-blue: rgb(33, 158, 188);
    --vlight-blue: rgb(142, 202, 230);
    padding: 40px 80px;
    font-family: "Manrope", sans-serif;
    font-weight: 100;
    width: 70%;
    margin: 60px auto;
    
}
/* Nav bar*/
/* Less specific */
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px; /* largeur inter section */
}

hr {
    border: none; /* Remove default border */
    border-top: 2px solid var(--vlight-blue); 
}

.content {
    width: 100%; /* Adjust this value to match your desired content width */
    margin: 0 auto; /* Center the content block horizontally */
  }


/* name and various other*/
.name {
    color: var(--dark-blue);
    margin: 10px 0px; 
    font-size: 30px;    
}
h1, h2{ 
    color: var(--dark-blue);
    margin: 10px 0px; 
    font-size: 25px;
}
h3 {
    color: var(--dark-blue);
}
.custom-link {
    color: var(--vlight-blue);
    font-weight: 500;
}
.contact {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}
.profile-pic {
    width: 120px;
    border-radius: 2%;
    object-fit: cover;
    margin-right: 40px;
    margin-top: 18px;	
}
.publi-title{
    color: var(--light-blue);
    font-size: 20px;
    font-weight:normal

}
.publi-proc{
    font-style: italic;

}
.publi-pic {
    width: 200px;
    border-radius: 0px;
    object-fit: cover;
    margin-right: 30px;
    margin-left: 10px;
   
}
.publi-text{
    font-size: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box {
    display: inline-block;
    padding: 8px;
    border: 2px solid var(--vlight-blue);
    border-radius: 5%;
  
  }